.default {
  font-size: 1.5rem;
}

.large {
  font-size: 2rem;
}

.title1{
  composes: large;
  font-weight: 300;
  background-color: var(--primary-color);
  color: white;
  padding: 2rem;
}

.title2{
  composes: large;
  font-weight: 300;
  background-color: var(--accent-color);
  color: white;
  padding: 1rem 2rem;
}

